                    /* body {
    overflow: visible;
}
*/
                    
                    .loginPage_contents {
                        height: 80vh;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                    }
                    
                    .loginPage_contents h1 {
                        margin-top: 10vh;
                        margin-bottom: 40vh;
                    }
                    
                    .loginPage_contents_title {
                        margin-top: 30vh;
                    }
                    
                    .loginPage_contents_btn {
                        display: block;
                        max-width: 400px;
                        margin: 0 auto;
                    }
                    
                    .contents_btn_box {
                        width: 200px;
                        padding: 20px 0;
                        margin: 0 auto;
                        border-radius: 30px;
                        background: #fd5068;
                        color: #fff;
                    }
                    
                    .loginPage_contents_btn a {
                        text-decoration: none;
                    }
                    /* -------------------------------------------------------------------------------------------- */
                    /* loginページ */
                    
                    .signinPage {
                        margin-top: 10vh;
                    }
                    
                    .title {
                        color: #fd5068;
                        margin: 20px 0;
                        text-align: center;
                    }
                    
                    .signinPage .userIcon {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        margin: 0 auto;
                        background: #fd5068;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                    .loginBtn {
                        padding: 12px;
                        width: 200px;
                        border-radius: 21px;
                        background: #fd5068;
                        color: #fff;
                        text-align: center;
                        border: none;
                        margin: 20px auto 0 auto;
                        opacity: 1;
                        transition: opacity .5s;
                        cursor: pointer;
                    }
                    
                    .loginBtn:hover {
                        opacity: .7;
                    }
                    
                    .errorMessage {
                        color: #fd5068;
                    }
                    /* -------------------------------------------------------------------------------------------- */
                    /* registerページ */
                    
                    .mt-5 h3 {
                        text-align: center;
                        color: #777;
                        font-size: 0.9rem;
                    }
                    
                    .notice,
                    .alert {
                        display: none;
                    }
                    
                    .signupPage .header {
                        padding: 20px;
                        text-align: center;
                        background: #fd5068;
                        color: #fff;
                    }
                    
                    .userProfileImg {
                        position: relative;
                        margin: 10px auto 20px auto;
                        width: 100px;
                        height: 100px;
                        background: #f85a6f;
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        justify-content: center
                    }
                    
                    .userProfileImg:hover .userProfileImg_description {
                        opacity: 1;
                    }
                    
                    .userProfileImg_description {
                        transition: opacity .5s;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: absolute;
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(5, 5, 5, .5);
                        color: #fff;
                    }
                    
                    .form-group {
                        color: #777;
                        text-align: center;
                    }
                    /* .form-check-label {
    margin-left: 200px;
} */
                    
                    .form-group input[type="text"],
                    .form-group input[type="email"],
                    .form-group input[type="password"] {
                        display: grid;
                        gap: 0.875em;
                        padding: 1.25em 1.625em;
                        background-color: #eee;
                        color: #777;
                        padding: 0.25em 0.625em;
                        width: 50%;
                        margin: 0 auto;
                        text-align: left;
                    }
                    
                    .form-group textarea {
                        background-color: #eee;
                        color: #777;
                        padding: 0.25em 0.625em;
                        width: 50%;
                        margin: 0 auto;
                    }
                    
                    .userProfileImg .fa-camera {
                        color: #fff;
                    }
                    
                    .userProfileImg input {
                        display: none;
                    }
                    
                    .userImgPreview {
                        margin: 0 auto;
                        display: none;
                        text-align: center;
                    }
                    
                    .userImgPreview.is-active {
                        display: block;
                    }
                    
                    .userImgPreview_content {
                        max-width: 100px;
                        margin: 10px;
                        padding: 10px;
                        border: solid thin lightgray;
                        border-radius: 5px;
                    }
                    
                    .start {
                        text-align: center;
                        margin-top: 20px;
                    }
                    
                    .submitBtn {
                        width: 200px;
                        padding: 10px;
                        border-radius: 90px;
                        transition: opacity .5s;
                    }
                    
                    .start button {
                        background-color: #fd5068;
                        color: #fff;
                    }
                    
                    .submitBtn:hover {
                        opacity: .6;
                    }
                    
                    .errorMessage {
                        color: #fd5068;
                    }
                    
                    .linkToLogin {
                        margin: 15px 0 15px;
                        text-align: center;
                    }
                    
                    .linkToLogin a {
                        color: #fd5068;
                    }
                    /* -------------------------------------------------------------------------------------- */
                    /* showページ */
                    
                    .usershowPage .header {
                        display: flex;
                        flex-direction: row-reverse;
                        padding-top: 10px;
                    }
                    
                    .usershowPage.header_logo a {
                        width: 40px;
                        display: block;
                    }
                    
                    .usershowPage.header_logo img {
                        width: 100%;
                    }
                    
                    .userInfo_img {
                        width: 170px;
                        height: 170px;
                        margin: 0 auto;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                    
                    .userInfo_img img {
                        width: 100%;
                    }
                    
                    .userInfo_name {
                        text-align: center;
                        margin-top: 30px;
                        font-size: 30px;
                    }
                    
                    .userInfo_selfIntroduction {
                        margin-top: 30px;
                    }
                    
                    .userAction {
                        display: flex;
                        justify-content: space-between;
                        width: 250px;
                        margin: 20vh auto 0;
                        color: #c3c7d0;
                    }
                    
                    .userAction_common a {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        color: #c3c7d0;
                        text-decoration: none;
                        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
                        transition: color .5s;
                    }
                    
                    .userAction_common a:hover {
                        color: #fd5068;
                    }
                    /* ---------------------------------------------------------------------------------- */
                    /* editページ */
                    
                    .userEditPage .header {
                        padding: 20px;
                        margin-bottom: 40px;
                        text-align: center;
                        background: #fd5068;
                        color: #fff;
                    }
                    
                    .submitBtn {
                        background: #fd5068;
                        color: #fff;
                        width: 200px;
                        padding: 10px;
                        border-radius: 90px;
                        transition: opacity .5s;
                    }
                    
                    .submitBtn:hover {
                        opacity: .6;
                    }
                    /* -------------------------------------------------------------------------------------- */
                    /* jTinder.ページ */
                    
                    html,
                    body {
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        position: relative;
                    }
                    /* Wrapper with padding */
                    
                    .wrap {
                        height: 300px;
                        padding: 5%;
                    }
                    
                    #tinderslide {
                        position: relative;
                        background: #fff;
                        width: 90vw;
                        height: 70vh;
                        max-width: 600px;
                        margin: 0 auto;
                    }
                    
                    #tinderslide ul {
                        margin: 0;
                        position: relative;
                        display: block;
                        height: 100%;
                    }
                    
                    #tinderslide ul>li {
                        display: block;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        z-index: 2;
                        left: 0;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                        overflow: hidden;
                        text-align: center;
                        padding: 10px 10px 10px 10px;
                        background: #eee;
                        font-size: 24px;
                        color: #000;
                        border: 1px solid #fff;
                        border: 1px solid #dfdfdf;
                        border: 1px solid rgba(96, 96, 96, 0.2);
                        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                    }
                    
                    #tinderslide ul>li .userName {
                        position: absolute;
                        bottom: 5px;
                        color: #000;
                    }
                    
                    #tinderslide ul>li img {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    
                    #tinderslide .noUser {
                        display: none;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%);
                        font-size: 20px;
                        width: 100%;
                        text-align: center;
                    }
                    
                    #tinderslide .noUser.is-active {
                        display: block;
                    }
                    /* Image text */
                    
                    #tinderslide li h2 {
                        color: #fff;
                        font-size: 30px;
                        text-align: center;
                        position: absolute;
                        top: 40%;
                        left: 0;
                        width: 100%;
                        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
                    }
                    /* Image rotation */
                    
                    #tinderslide li.pane1 {
                        -webkit-transform: rotate(-1deg);
                        -moz-transform: rotate(-1deg);
                        -o-transform: rotate(-1deg);
                        -ms-transform: rotate(-1deg);
                        transform: rotate(-1deg);
                    }
                    
                    #tinderslide li.pane2 {
                        -webkit-transform: rotate(2deg);
                        -moz-transform: rotate(2deg);
                        -o-transform: rotate(2deg);
                        -ms-transform: rotate(2deg);
                        transform: rotate(2deg);
                    }
                    /* Like & dislike badge images */
                    
                    #tinderslide .like,
                    #tinderslide .dislike {
                        background: url("/images/liked.png") no-repeat scroll 0 0;
                        opacity: 0;
                        height: 80px;
                        position: absolute;
                        width: 170px;
                        left: 45px;
                        top: 40px;
                        z-index: 1;
                        overflow: hidden;
                        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
                    
                    #tinderslide .dislike {
                        right: 45px;
                        left: auto;
                        background: url("/images/nope.png") no-repeat scroll 0 0;
                    }
                    /* Image container */
                    
                    #tinderslide .img {
                        height: 90%;
                        width: 100%;
                        margin-bottom: 5px;
                        position: relative;
                        -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
                        overflow: hidden;
                        backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
                        -webkit-transform-style: preserve-3d;
                    }
                    /* Action - buttons */
                    
                    .actions {
                        display: flex;
                        justify-content: space-between;
                        width: 200px;
                        margin: 15px auto;
                    }
                    
                    .actions.is-none {
                        display: none;
                    }
                    
                    .actions div {
                        position: relative;
                        display: inline-block;
                        margin-right: -4px;
                    }
                    
                    .actions a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #f7f7f7;
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
                        background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
                        background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
                        background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
                        background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
                        width: 80px;
                        height: 80px;
                        position: relative;
                        text-align: center;
                        line-height: 144px;
                        border-radius: 50%;
                        outline: none;
                        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
                    }
                    
                    .actions a.dislike {
                        color: #eb5f5f;
                    }
                    
                    .actions a.like {
                        color: #e07474;
                    }
                    
                    .actions a:hover {
                        text-decoration: none;
                        color: #555;
                        background: #f5f5f5;
                    }
                    /* jTinder status text */
                    
                    #status {
                        text-align: center;
                        font-size: 18px;
                        font-family: arial;
                        margin-top: 30px;
                        font-weight: bold;
                    }
                    
                    .topPage .nav {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100vw;
                        max-width: 610px;
                        margin: 0 auto;
                    }
                    
                    .topPage .nav>ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        padding: 10px;
                    }
                    
                    .topPage .nav>ul>li {
                        list-style: none;
                    }
                    
                    .topPage .nav>ul>li.personIcon i {
                        color: #dccbcb;
                    }
                    
                    .topPage .nav>ul>li.appIcon>a {
                        width: 40px;
                        display: inline-block;
                    }
                    
                    .topPage .nav>ul>li.appIcon>a>img {
                        width: 100%;
                    }
                    
                    .topPage .nav>ul>li.messageIcon i {
                        color: #dccbcb;
                    }
                    /* ------------------------------------------------------------------------------------------- */
                    /* index.ページ */
                    
                    .matchingPage .header {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        color: #fd5068;
                        border-bottom: 1px solid #e8e8e8;
                    }
                    
                    .matchingPage .header_logo {
                        position: absolute;
                        left: 30px;
                    }
                    
                    .matchingPage .header_logo>a {
                        width: 40px;
                        display: block;
                    }
                    
                    .matchingPage .header_logo>a>img {
                        width: 100%;
                    }
                    
                    .matchingPage .matchingNum {
                        text-align: center;
                        font-size: 12px;
                        color: #fd5068;
                        margin-bottom: 20px;
                    }
                    
                    .matchingPage .pageTitle {
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    .matchingPage .matchingList {
                        margin-top: 30px;
                        padding: 0;
                    }
                    
                    .matchingPage .matchingList .matchingPerson {
                        display: flex;
                        align-items: center;
                        padding: 20px 0px;
                        border-bottom: 1px solid #e8e8e8;
                        position: relative;
                    }
                    
                    .matchingPage .matchingList .matchingPerson_img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 10px;
                    }
                    
                    .matchingPage .matchingList .matchingPerson_img>img {
                        width: 100%;
                    }
                    
                    .matchingPage .matchingList .matchingPerson form {
                        position: absolute;
                        right: 0;
                    }
                    
                    .matchingPage .matchingList .matchingPerson form .chatForm_btn {
                        border: none;
                        padding: 10px;
                        background: #fd5068;
                        color: #fff;
                        border-radius: 6px;
                        cursor: pointer;
                        transition: opacity 0.3s;
                    }
                    
                    .matchingPage .matchingList .matchingPerson form .chatForm_btn:hover {
                        opacity: 0.7;
                    }
                    /* ------------------------------------------------------------------------------------------- */
                    /*chatページ */
                    
                    .chatPage input[type=text]:focus {
                        outline: 0;
                    }
                    
                    .chatPage .header {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        border-bottom: 1px solid #e8e8e8;
                    }
                    
                    .chatPage .header .linkToMatching {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        left: 40px;
                        border: 5px solid;
                        border-radius: 4px;
                        border-color: transparent transparent #fd5068 #fd5068;
                        transform: rotate(45deg);
                    }
                    
                    .chatPage .header .chatPartner_name {
                        margin-top: 10px;
                        text-align: center;
                    }
                    
                    .chatPage .header .chatPartner_img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                    
                    .chatPage .header .chatPartner_img>img {
                        width: 100%;
                    }
                    
                    .chatPage .messagesArea {
                        overflow: scroll;
                        height: 72vh;
                    }
                    
                    .chatPage .messagesArea .message.selfMessage {
                        display: flex;
                        flex-direction: row-reverse;
                    }
                    
                    .chatPage .messagesArea .message.selfMessage .commonMessage {
                        margin: 1.5em 15px 1.5em 0;
                        padding: 7px 10px;
                        max-width: 100%;
                        color: #555;
                        font-size: 16px;
                        background: #e0edff;
                    }
                    
                    .chatPage .messagesArea .message.selfMessage .commonMessage:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        margin-top: -10px;
                        border: 10px solid transparent;
                        border-left: 10px solid #e0edff;
                    }
                    
                    .chatPage .messagesArea .message .commonMessage {
                        position: relative;
                        display: inline-block;
                        margin: 1.5em 0 1.5em 15px;
                        padding: 7px 10px;
                        max-width: 100%;
                        color: #555;
                        font-size: 16px;
                        border-radius: 7px;
                        background: #f1f1f1;
                    }
                    
                    .chatPage .messagesArea .message .commonMessage>p {
                        margin: 0;
                    }
                    
                    .chatPage .messagesArea .message .commonMessage:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -20px;
                        margin-top: -10px;
                        border: 10px solid transparent;
                        border-right: 10px solid #f1f1f1;
                    }
                    
                    .chatPage .messagesArea .message .commonMessage.selfMessage {
                        margin: 1.5em 15px 1.5em 0;
                        padding: 7px 10px;
                        max-width: 100%;
                        color: #555;
                        font-size: 16px;
                        background: #e0edff;
                    }
                    
                    .chatPage .messagesArea .message .commonMessage.selfMessage:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        margin-top: -10px;
                        border: 10px solid transparent;
                        border-left: 10px solid #e0edff;
                    }
                    
                    .chatPage .messageInputForm {
                        position: fixed;
                        bottom: 0;
                        border-top: 1px solid #e8e8e8;
                        padding: 30px 0;
                        width: 100%;
                    }
                    
                    .chatPage .messageInputForm_input {
                        width: 100%;
                        border: none;
                    }
                    /* --------------------------------------------------------------------------- */
                    /*ユーザー一覧ページ */
                    
                    .edit_img {
                        width: 150px;
                        height: 150px;
                    }
                    
                    .edit_img img {
                        width: 50%;
                    }
                    
                    .edit-warp {
                        width: 100%;
                    }
                    
                    .edit-warp table {
                        width: 90%;
                    }
                    
                    .edit-warp table,
                    .edit-warp td,
                    .edit-warp th {
                        border: 2px #a9a9a9 solid;
                        margin: 0 auto 2% auto;
                        text-align: center;
                        vertical-align: middle;
                    }